{% if PESSOA.CODPESSOA %}
	{% set funcionarioObj = getDaos('GpDocumentoDao', 'buscarFuncionario', [FUNCIONARIO.CODFUNCIONARIO]) %}
{% endif %}



<div class="row">
	<div class="section-title col-12 mt-2">Dados Complementares</div>

	<input type="hidden" name="CODDOCUMENTO" value='{{funcionarioObj.CODDOCUMENTO}}'>
	<input hidden  name="CODFUNCIONARIO" value='{{FUNCIONARIO.CODFUNCIONARIO}}' readonly>


	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Estado Civil</label>
		<select name="ESTADOCIVIL" id="estadocivil" type="text" class="form-control" autocomplete="nope">
			{% set opcoesEstadoCivil = ['Não informado', 'Solteiro', 'União Estável', 'Casado', 'Divorciado', 'Viúvo' ] %}
			{% for index,op in opcoesEstadoCivil %}
				<option value="{{index + 1}}" {{funcionarioObj.ESTADOCIVIL == index + 1 ? 'selected' : '' }}>{{op}}</option>
			{% endfor %}
		</select>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>

	<div class="form-group col-12 col-md-8 float-left">
		<label class="form-label">Grau de Instrução</label>
		<select name="ESCOLARIDADE" id="escolaridade" type="text" class="select2 form-control" autocomplete="nope">
			{% set opcoesEscolaridade = ['Não informado', 'Fundamental Incompleto', 'Fundamental Completo', 'Médio Incompleto', 'Médio Completo', 'Superior Incompleto', 'Superior', 'Bacharelado', 'Técnologo', 'Licenciatura', 'Pós-graduação', 'Mestrado', 'Doutorado' ] %}
			{% for index, op in opcoesEscolaridade %}
				<option value="{{index + 1}}" {{funcionarioObj.ESCOLARIDADE == index + 1  ? 'selected' : '' }}>{{op}}</option>
			{% endfor %}
		</select>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>



</div>



<div class="row">
	<div class="section-title col-12 mt-2">Filiação</div>

	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Naturalidade</label>
		<input name="NATURALIDADE" id="naturalidade" type="text" class="form-control"  autocomplete="nope" value="{{funcionarioObj.NATURALIDADE}}"/>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>

	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Mãe</label>
		<input name="NOMEMAE" id="nomemae" type="text" class="form-control"  autocomplete="nope" value="{{funcionarioObj.NOMEMAE}}"/>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>

	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Pai</label>
		<input name="NOMEPAI" id="nomepai" type="text" class="form-control" autocomplete="nope" value="{{funcionarioObj.NOMEPAI}}"/>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>

</div>


<div class="row">
	<div class="section-title col-12 mt-2">RG</div>


	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Número RG</label>
		<input name="NUMERO_RG" id="rg" type="number" class="form-control" maxlenght='20' autocomplete="nope" value="{{funcionarioObj.NUMERO_RG}}"/>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>
	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Órgão de Expedição</label>
		<input name="ORGAO_RG" id="orgao_rg" type="text" class="form-control" autocomplete="nope" value="{{funcionarioObj ? funcionarioObj.ORGAO_RG : null }}"/>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>
	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Data de Expedição</label>
		<input name="DATAEXPEDICAO_RG" id="dataexpedicao_rg" type="date" class="form-control"  autocomplete="nope" value="{{funcionarioObj.DATAEXPEDICAO_RG|date('Y-m-d')}}"/>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>


</div>


<div class="row">
	<div class="section-title col-12 mt-2">CTPS</div>


	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Número CTB</label>
		<input name="NUMERO_CTB" id="numero_ctb" type="number" class="form-control" maxlenght='20' autocomplete="nope" value="{{funcionarioObj.NUMERO_CTB}}"/>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>
	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Série CTB</label>
		<input name="SERIE_CTB" id="serie_ctb" type="text" class="form-control" autocomplete="nope" value="{{funcionarioObj ? funcionarioObj.SERIE_CTB : null }}"/>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>
	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Estado</label>
		<select name="ESTADO_CTB" id="estado_ctb"  class="form-control"  autocomplete="nope">
		<option value="" disabled selected>Selecione um Estado</option>
		{% for estado in getDaos('CidadeDao', 'getEstados') %}
			<option value="{{estado.UF}}" {{ funcionarioObj.ESTADO_CTB == estado.UF ? 'selected ' : ''}}>{{estado.UF}}</option>

		{% endfor %}

	</select>
		
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>


</div>




<div class="row">
	<div class="section-title col-12 mt-2">CNH</div>


	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Número da CNH</label>
		<input name="NUMERO_CNH" id="numero_cnh" type="number" class="form-control" autocomplete="nope" value="{{funcionarioObj ? funcionarioObj.NUMERO_CNH : null }}"/>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>
	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Categoria CNH</label>
		<select name="CATEGORIA_CNH" id="categoria_cnh" type="text" class="form-control" autocomplete="nope">
			{% set opcoesCategoria = ['Não informado', 'A', 'AB', 'B', 'AC', 'C', 'AD', 'D', 'AE', 'E' ] %}
			{% for op in opcoesCategoria %}
				<option value="{{op}}" {{funcionarioObj.CATEGORIA_CNH == op ? 'selected' : '' }}>{{op}}</option>
			{% endfor %}
		</select>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>
	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Validade</label>
		<input name="VALIDADE_CNH" id="validade_cnh" type="date" class="form-control"  autocomplete="nope" value="{{funcionarioObj.VALIDADE_CNH|date('Y-m-d')}}"/>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>


</div>


<div class="row">
	<div class="section-title col-12 mt-2">Título de Eleitor</div>

	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Número do Título</label>
		<input name="TE_NUMERO" id="te_numero" type="number" class="form-control" autocomplete="nope" value="{{funcionarioObj ? funcionarioObj.TE_NUMERO : null }}"/>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>

	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Zona Eleitoral</label>
		<input name="TE_ZONA" id="te_zona" type="number" class="form-control" autocomplete="nope" value="{{funcionarioObj ? funcionarioObj.TE_ZONA : null }}"/>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>

	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Sessão Eleitoral</label>
		<input name="TE_SESSAO" id="te_sessao" type="number" class="form-control" autocomplete="nope" value="{{funcionarioObj ? funcionarioObj.TE_SESSAO : null }}"/>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>

	<div class="form-group col-12 col-md-4 float-left">
		<label class="form-label">Data de Emissão</label>
		<input name="TE_DATAEMISSAO" id="te_dataemissao" type="date" class="form-control"  autocomplete="nope" value="{{funcionarioObj.TE_EMISSAO|date('Y-m-d')}}"/>
		<div class="invalid-feedback">
			Preencha o campo corretamente
		</div>
	</div>

	 <div class="form-group col-12 col-md-4 float-left">
                    <label class="form-label">Estado do título</label>
                    <select name="TE_ESTADO" id="te_estado" onchange='buscarMunicipio()' class="form-control" placeholder=""
                           >
                        <option value="" selected>Selecione um Estado</option>

                        {% set buscaEstadoQuery = [{'CODCIDADE' : funcionarioObj.TE_CODCIDADE}] %}
                        {% set estadoUFPessoa = getDaos('CidadeDao', 'buscar', buscaEstadoQuery )|first %}
                        {% for estado in getDaos('CidadeDao', 'getEstados') %}
                            <option value="{{ estado.UF }}" {{ estadoUFPessoa.UF == estado.UF ? 'selected ' : '' }}>{{ estado.UF }}</option>

                        {% endfor %}

                    </select>
                    <div class="invalid-feedback">
                        Preencha o campo corretamente
                    </div>
                </div>


                <div class="form-group col-12 col-md-4 float-left">
                    <label class="form-label">Cidade do título</label>
                    <select name="TE_CODCIDADE" id="te_codcidade" class="form-control select2" placeholder="">
                        {% set buscaCidadesEstadoQuery = [{'UF' : estadoUFPessoa.UF}] %}
                        {% set buscaCidadesEstadoQuery = buscaCidadesEstadoQuery|merge(['NOME ASC']) %}
                        {% for cidades in getDaos('CidadeDao', 'buscar', buscaCidadesEstadoQuery ) %}
                            <option value="{{ cidades.CODCIDADE }}" {{ funcionarioObj.TE_CODCIDADE == cidades.CODCIDADE ? 'selected ' : '' }}>{{ cidades.NOME }}</option>
                        {% endfor %}

                    </select>
                    <div class="invalid-feedback">
                        Preencha o campo corretamente
                    </div>
                </div>


</div>


<script>
    async function buscarMunicipio(nomecidade = null) {

        var selectEstado = document.getElementById("te_estado");
        var uf = selectEstado.options[selectEstado.selectedIndex].value;
        var selectMunicipio = document.getElementById("te_codcidade");
        selectMunicipio.innerHTML = "";

        if (nomecidade != null) {
            nomecidade = removerAcentos(maiuscula(nomecidade));
        }


        await requisicaoHttp("/api/buscarmunicipio", "POST", JSON.stringify({"uf": uf})).then((data) => {

            //console.log(data);
            if (!data.error) {
                for (var i = 0; i < data.data.length; i++) {
                    option = document.createElement("option");
                    texto = document.createTextNode(data.data[i].NOME);
                    if (removerAcentos(maiuscula(data.data[i].NOME)) === nomecidade) {
                        option.setAttribute("selected", "selected");
                        $('#municipio').trigger('change');
                    }
                    option.setAttribute("value", data.data[i].CODCIDADE);
                    option.appendChild(texto);
                    selectMunicipio.appendChild(option);
                }
            }

        }).catch(() => {

        });
    }

</script>