{% if PESSOA.CODPESSOA %}
	{% set funcionarioObj = getDaos('GpFuncionarioDao', 'buscarPessoa', [PESSOA.CODPESSOA])|first %}
{% endif %}

{% block top %}{% endblock %}
<div class="row">
<input type="hidden" name="AGENCIA" value='F'>
<div class="form-group col-12 col-md-4 float-left">
	<label class="form-label">Agencia</label>
	<input name="AGENCIA" id="agencia" type="text" class="form-control" required autocomplete="nope" value="{{ pessoafisicaObj ? pessoafisicaObj.DATANASCIMENTO: ''}}"/>
	<div class="invalid-feedback">
		Preencha o campo corretamente
	</div>
</div>


<div class="form-group col-12 col-md-4 float-left">
	<label class="form-label">CPF</label>
	<input name="CPF" id="cpf_cnpj" type="text" class="form-control" placeholder="000.000.000-00" required onkeyup="mascara(this,cpfCnpj)" minlength='14' maxlength="14" value="{{  pessoafisicaObj ? getLibs('FuncoesLib', 'formatCpfUsuario', [pessoafisicaObj.CPF]) : ''  }}"/>
	<div class="invalid-feedback">
		Preencha o campo corretamente
	</div>
</div>


<div class="form-group col-12 col-md-4 float-left">
	<label class="form-label">Sexo</label>
	<select name="SEXO" id="sexo" class="form-control" required>
		{% set sexos = { 'M' : 'Masculino', 'F' : 'Feminino', 'N' :  'Não Informado'} %}
		<option value="" disabled selected>Selecione uma opção</option>
		{% for chave, valor in sexos %}

			<option value="{{chave}}" {{ chave == pessoafisicaObj.SEXO ? 'selected' : ''}}>
				{{valor}}</option>

		{% endfor %}

	</select>
	<div class="invalid-feedback">
		Preencha o campo corretamente
	</div>
</div>
</div>

{% block bottom %}{% endblock %}

