{% set id = id|default(random()) %}
<x-div.accordion title='{{ KIT_ITEM.NOME|default("Novo") }}'>
    <section class="section">
        <form id="formCadastro" class="needs-validation" novalidate
              action="/organizador/itens-cadastro-action/" method="post"
              enctype='multipart/form-data'>

            <div class="row">
                <div class="d-flex justify-content-between">
                    <h6>Item do Kit</h6>
                    <div class="form-group mb-0">
                        <label class="custom-switch mt-2">
                            <input type="checkbox" name="SITUACAO" class="custom-switch-input"
                                   value="1" {{ KIT_ITEM.SITUACAO|length>0?(KIT.SITUACAO == "1"?"checked":""):"checked" }}>
                            <span class="custom-switch-indicator"></span>
                            <span class="custom-switch-description-right">Ativo</span>
                        </label>
                    </div>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label class="form-label">Nome *</label>
                    <input type="text" class="form-control" name="NOME"
                           placeholder="CAMISA / GARRAFA / BONÉ" required
                           value="{{ KIT_ITEM.NOME }}">
                    <div class="invalid-feedback">Preencha o campo corretamente</div>
                </div>

                <div class="form-group col-12 col-md-6">
                    <label class="form-label">Valor adicional R$</label>
                    <input type="text" class="form-control" name="VALOR" placeholder="50,00"
                           onkeyup="mascara(this,mvalor2)"
                           value="{{ KIT_ITEM.VALOR?(KIT_ITEM.VALOR)|number_format(2, ',', '.'):'' }}">
                    <div class="form-text">O valor é opcional. Caso não queira informar um valor
                        para esse item, deixe o campo em branco.
                    </div>
                </div>

                <div class="form-group col-12 col-md-12">
                    <label class="form-label">Descrição completa *</label>
                    <textarea class="form-control" name="DESCRICAO"
                              placeholder="Descrição do kit"
                              required rows="5">{{ KIT_ITEM.DESCRICAO }}</textarea>
                    <div class="invalid-feedback">Preencha o campo corretamente</div>
                </div>

                <div class="form-group col-12 col-md-12">
                    <label class="col-12">Obrigatório *</label>
                    <div class="btn-group" role="group"
                         aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="OBRIGATORIO"
                               id="rdTipoInscricao1{{ id }}"
                               autocomplete="off"
                               value="0" {{ KIT_ITEM.OBRIGATORIO|length>0?(KIT_ITEM.OBRIGATORIO == "0"?"checked":""):"checked" }}>
                        <label class="btn btn-outline-secondary"
                               for="rdTipoInscricao1{{ id }}">Não</label>

                        <input type="radio" class="btn-check" name="OBRIGATORIO"
                               id="rdTipoInscricao2{{ id }}"
                               autocomplete="off"
                               value="1" {{ KIT_ITEM.OBRIGATORIO|length>0?(KIT_ITEM.OBRIGATORIO == "1"?"checked":""):"" }}>
                        <label class="btn btn-outline-secondary"
                               for="rdTipoInscricao2{{ id }}">Sim</label>
                    </div>
                    <div class="form-text">Caso queira que o atleta escolha o tamanho do item na inscrição marque como
                        obrigatório
                    </div>
                    <div class="invalid-feedback">
                        Preencha o campo corretamente
                    </div>
                </div>
                <div class="section-title col-12">MODELOS/TAMANHO</div>
                <div class="row" id="divItensModelo{{ id }}">
                    {% set ITENS = getDaos("KitItemModeloDao","buscarModelosCodKitItem",[KIT_ITEM.CODKIT_ITEM]) %}
                    {% for ITEM in ITENS %}
                        <x-div.organizador.kit.item_modelo :ITEM="ITEM"></x-div.organizador.kit.item_modelo>
                    {% else %}
                        <x-div.organizador.kit.item_modelo></x-div.organizador.kit.item_modelo>
                    {% endfor %}
                </div>

                <div class="d-grid gap-2 col-6 mx-auto mt-2">
                    <button class="btn btn-link"
                            onclick="addItemModelo({{ id }})"
                            type="button"><span class="mdi mdi-plus"></span> Adicionar Modelo
                    </button>
                </div>

                <input type="hidden" name="CODKIT" value="{{ KIT.CODKIT }}"/>
                <input type="hidden" name="CODKIT_ITEM" value="{{ KIT_ITEM.CODKIT_ITEM }}"/>
                {% if KIT_ITEM.CODKIT_ITEM %}
                    <input type="hidden" name="ACTION" value="update_kit_item"/>
                {% else %}
                    <input type="hidden" name="ACTION" value="insert_kit_item"/>
                {% endif %}


                <div class="pt-4">
                    <button type="button" onclick="excluirItemKit('{{ KIT_ITEM.CODKIT_ITEM }}')"
                            class="btn btn-outline-secondary btn-round btn-lg col-md-3 col-lg-2 col-12 mt-2">
                        <span class="mdi mdi-trash-can-outline"></span> Excluir
                    </button>

                    <button type="submit" id="btnSalvar"
                            class="btn btn-lg btn-primary btn-round col-md-3 col-lg-2 col-12 float-right mt-2 float-end">
                        <span class="mdi mdi-check-outline"></span> Salvar
                    </button>
                </div>
            </div>
        </form>
    </section>
</x-div.accordion>
