<main>
    <section class="section">
        <div class="container my-container">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="card sombra-1">
                        <div class="card-header">
                            <h4>Cadastro de Servicos</h4>
                        </div>
                        <div class="card-body pt-4">
                            <form id="formCadastro" class="needs-validation" novalidate
                                  action="{{ SERVICO.URL }}-action/"
                                  method="post" enctype='multipart/form-data'>
                                <div class="row">
                                    <div class="form-group col-12 col-md-12 ">
                                        <label>Modulo</label>
                                        <div class="float-end">
                                            <a href="/sistema/modulos-cadastro/" class="small" target="_blank">Não encontrei</a>
                                        </div>
                                        <select name="CODMODULO" id="codmodulo" type="text" class="form-control select2" required>
                                            <option value="">Selecione</option>
                                            {% for item in DATAMODULOS %}
                                                <option value="{{ item.CODMODULO}}" {{ DATASERVICO.CODMODULO == item.CODMODULO?"selected":"" }}>{{ item.TITULO}}</option>
                                            {% endfor %}
                                        </select>

                                        <div class="invalid-feedback">
                                            Preencha o campo corretamente
                                        </div>
                                    </div>
                                    <div class="form-group col-12 col-md-12 ">
                                        <label>Nome</label>
                                        <input name="TITULO" id="titulo" type="text" class="form-control" required
                                               placeholder="Nome do módulo"
                                               value="{{ DATASERVICO.TITULO }}">
                                        <div class="invalid-feedback">
                                            Preencha o campo corretamente
                                        </div>
                                    </div>
                                    <div class="form-group col-12 col-md-12 ">
                                        <label>Descrição</label>
                                        <input name="DESCRICAO" id="descricao" type="text" class="form-control"
                                               placeholder="Descrição do módulo" required
                                               value="{{ DATASERVICO.DESCRICAO }}">
                                        <div class="invalid-feedback">
                                            Preencha o campo corretamente
                                        </div>
                                    </div>
                                    <div class="form-group col-12 col-md-4 ">
                                        <label>Controller</label>
                                        <input name="CONTROLLER" id="controller" type="text" class="form-control"
                                               required
                                               placeholder="Nome do controller"
                                               value="{{ DATASERVICO.CONTROLLER }}">
                                        <div class="invalid-feedback">
                                            Preencha o campo corretamente
                                        </div>
                                    </div>
                                    <div class="form-group col-12 col-md-4 ">
                                        <label>Ícone</label>
                                        <input name="ICONE" id="icone" type="text" class="form-control" required
                                               placeholder="Nome do módulo"
                                               value="{{ DATASERVICO.ICONE }}">
                                        <div class="invalid-feedback">
                                            Preencha o campo corretamente
                                        </div>
                                    </div>
                                    <div class="form-group col-12 col-md-4 ">
                                        <label>Ordem</label>
                                        <input name="ORDEM" id="ordem" type="text" class="form-control" required
                                               placeholder="Ordem"
                                               value="{{ DATASERVICO.ORDEM??1 }}">
                                        <div class="invalid-feedback">
                                            Preencha o campo corretamente
                                        </div>
                                    </div>
                                    <div class="form-group col-12">
                                        <div class="control-label">Situação</div>
                                        <label class="custom-switch mt-2" style="padding-left: 0px">
                                            <input type="checkbox" name="SITUACAO" class="custom-switch-input" {{ DATASERVICO.SITUACAO!=""?(DATASERVICO.SITUACAO == "1"?"checked":""):"checked" }} value="1">
                                            <span class="custom-switch-indicator"></span>
                                            <span class="custom-switch-description-right">Ativo</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <input type="hidden" name="pg" value="{{ GET.pg }}">
                                        <input type="hidden" name="b" value="{{ GET.b }}">
                                        {% if(SERVICO.EXCLUIR=="1" and DATASERVICO.CODSERVICO!="") %}
                                            <button type="button" onclick="excluirItemTabela('{{ DATASERVICO.CODSERVICO }}')" class="btn btn-outline-secondary btn-round btn-lg col-md-3 col-lg-2 col-12 mt-2"><span class="mdi mdi-trash-can-outline"></span> Excluir</button>
                                        {% endif %}

                                            {% if(SERVICO.ALTERAR=="1" or SERVICO.SALVAR=="1") %}
                                                <button type="submit" id="btnSalvar"
                                                        class="btn btn-lg btn-primary btn-round col-md-3 col-lg-2 col-12 float-end mt-2">
                                                    <span class="mdi mdi-check-outline"></span> Salvar
                                                </button>
                                            {% endif %}
                                            <button type="button"
                                                    onclick="window.location.href='{{ SERVICO.URL }}/?pg={{ GET.pg }}&b={{ GET.b }}'"

                                                    class="btn btn-lg btn-outline-secondary btn-round col-md-3 col-lg-2 col-12 float-end mt-2 me-md-2 me-0">
                                                <span class="mdi mdi-close"></span> Voltar
                                            </button>

                                        {% if(DATASERVICO.CODSERVICO!="") %}
                                            <input type="hidden" name="CODSERVICO" value="{{ DATASERVICO.CODSERVICO}}">
                                            <input type="hidden" name="action" value="update">
                                        {% else %}
                                            <input type="hidden" name="action" value="insert">
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                            <form action="{{ SERVICO.URL }}-action" name="formExcluir" id="formExcluir" method="post">
                                <input type="hidden" name="pg" value="{{ GET.pg }}">
                                <input type="hidden" name="b" value="{{ GET.b }}">
                                <input type="hidden" name="action" value="delete">
                                <input type="hidden" name="ID_DELETE" id="ID_DELETE" value="">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>

</script>
