<label for="{{name|upper}}">{{label}}</label>
<select name="{{name}}" id="{{id|default(name|lower)}}" class="select2 form-control {{ class|default("") }}" {{ required|default("") }} onchange="{{ onchange|default("") }}">
	<option value="" disabled selected>Selecione um
		{{label}}</option>
	{% if object %}
		{% for item in  object  %}
			<option value="{{attribute(item, optionValue)}}" {% if value %} {{ value == attribute(item, optionValue) ? 'selected' : '' }} {% endif %}>{{attribute(item, optionLabel)}}
			</option>
		{% endfor %}
	{% endif %}
</select>
<div class="invalid-feedback">
	Preencha o campo corretamente
</div>
