<main>
    <section class="section">
        <div class="container my-container">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="card sombra-1">
                        <div class="card-body pt-4">
                            <div class="col-12">
                                <p>Estamos&nbsp;<span style="font-weight:400">empenhados em salvaguardar a sua privacidade ao utilizar a plataforma. Este termo tem a finalidade de deixar o mais claro possível a&nbsp;<span
                                                style="font-weight:400">nossa política de coleta e compartilhamento de dados, informando sobre os dados coletados e como os utilizamos.&nbsp;&nbsp;</span></span>
                                </p>
                                <p>Ao utilizar esta plataforma, você declara o seu EXPRESSO
                                    CONSENTIMENTO para
                                    podermos armazenar informações sobre você quando julgarmos adequado à prestação
                                    de
                                    nossos
                                    serviços,&nbsp;tais
                                    como:</p>
                                <ul>
                                    <li><b>Informações que você oferece. </b>Podemos coletar dados fornecidos por
                                        você
                                        no
                                        cadastro, tais como
                                        nome<span style="font-weight:500">&nbsp;e sobrenome, cpf, telefone, data de nascimento, endereço para correspondência, endereço de e-mail, informações de pagamento, endereço IP, outras informações de contato on-line ou número de telefone</span>,
                                        foto e demais informações requeridas no cadastro ou vinculados às mídias
                                        utilizados
                                        no
                                        login.
                                    </li>
                                    <li><b>Conteúdos de seu interesse.</b> Podemos coletar o conteúdo das áreas de
                                        seu
                                        interesse
                                        quando você usa
                                        nossos Serviços, como quando realiza uma pesquisa, acessa ou cria conteúdos,
                                        cadastra
                                        uma conta, cria ou
                                        compartilha comentários ou conteúdos, etc.
                                    </li>
                                    <li><span style="font-weight:bold">Comunicação.</span> Podemos registrar e
                                        gravar
                                        todos
                                        os
                                        dados fornecidos em
                                        toda comunicação realizada com nossa equipe, seja por correio eletrônico,
                                        mensagens,
                                        telefone ou qualquer
                                        outro meio.
                                    </li>
                                    <li><b>Informações sobre pagamentos.</b>&nbsp;Ao submeter seus dados para
                                        pagamento,
                                        podemos
                                        coletar informações
                                        sobre a compra ou transação. Isso abrange suas informações de pagamento,
                                        como os
                                        dados
                                        pessoais, além dos dados de faturamento,
                                        tais como endereço
                                        completo, CPF e CNPJ.
                                    </li>
                                    <li><span style="font-weight:bold">Endereço eletrônico</span><span
                                                style="font-weight:bold"> (e-mail).</span>&nbsp;Ao
                                        fazer login na plataforma, coletaremos o seu e-mail para fins cadastrais,
                                        pelo
                                        qual
                                        ocorrerão as
                                        comunicações de atualizações da plataforma e gerenciamento de sua conta.
                                    </li>
                                    <li><span style="font-weight:bold">Cookies.</span> Registramos dados de sua
                                        visita à
                                        plataforma&nbsp;<span
                                                style="font-weight:400">através de cookies e outras tecnologias de rastreamento</span>&nbsp;<span
                                                style="font-weight:400">incluindo seu endereço IP e nome de domínio, a versão do seu navegador e do seu sistema operacional, dados de tráfego online, dados de localização, logs da web e outros dados de navegação.</span>
                                    </li>
                                </ul>
                                <h5>UTILIZAÇÃO DESTAS INFORMAÇÕES </h5>
                                <p>Ao utilizar a plataforma você AUTORIZA EXPRESSAMENTE o uso destas informações&nbsp;
                                    para
                                    as
                                    seguintes
                                    FINALIDADES:</p>
                                <ul>
                                    <li><b>Fornecer, melhorar e desenvolver os Serviços disponíveis.</b>&nbsp;Usamos
                                        cookies
                                        e tecnologias
                                        semelhantes para fornecer e apoiar nossos Serviços, através da
                                        personalização do
                                        conteúdo compartilhado,
                                        p<span style="font-weight:400">ara garantir que o conteúdo da plataforma seja relevante.&nbsp;</span>
                                    </li>
                                    <li><span style="font-weight:bold">Construção de conteúdo.</span> Todo conteúdo
                                        compartilhado, ou divulgado,
                                        seja através de comentários, dicas ou sugestões de melhorias compõem o banco
                                        de
                                        dados da plataforma
                                        viabilizando a melhoria e conhecimento do produto pelos demais usuários.
                                    </li>
                                    <li><span style="font-weight:bold">Para reorganizar ou fazer mudanças operacionais e gerenciais da plataforma.</span><span
                                                style="font-weight:400"> Os dados coletados serão utilizados na avaliação de&nbsp;eventuais negociações para a venda da plataforma a terceiros; para uma eventual reorganização interna, com a a transferência de dados a terceiros (ou seus assessores) como parte de um processo de <span
                                                    style="font-style:italic">due diligence</span> com a finalidade de analisar uma proposta de venda ou reorganização.</span><br>
                                    </li>
                                    <li><span style="font-weight:bold">Monitoramento de uso</span><span
                                                style="font-weight:400">.&nbsp;Utilizamos seus dados para monitorar atividades e transações com a finalidade de garantir a qualidade do serviço, o atendimento à leis aplicáveis, o cumprimento de procedimentos e para combater a fraude.</span>
                                    </li>
                                    <li><span style="font-weight:bold">Obrigações legais.</span> Compartilhamos seus
                                        dados
                                        com
                                        terceiros&nbsp;<span style="font-weight:400">para cumprir exigências legais, regulatórias ou fiscais, envolvendo a divulgação de seus dados pessoais a terceiros, a um tribunal, reguladores ou agências governamentais.</span>
                                    </li>
                                </ul>
                                <h5>COMPARTILHAMENTO DE DADOS</h5>
                                <p>Compartilhamos os seus dados apenas com sistemas que envolvem o {{ configSiteName }}.<br>
                                </p>


                                <h5>ONDE ARMAZENAMOS E PROCESSAMOS SEUS DADOS<br></h5>
                                <p class=""><span style="font-weight:500">Os dados coletados podem ser armazenados e processados no Brasil&nbsp; e em qualquer outro país escolhido para operar eficientemente, melhorar o desempenho e proteger os dados no caso de uma falha ou outro problema.&nbsp;</span>
                                </p>
                                <h5 class="">MEDIDAS DE SEGURANÇA</h5>
                                <p class=""><span style="font-weight:500"><span style="font-weight:400">Todos os dados que você nos fornece são armazenados em servidores seguros nossos ou de fornecedores contratados, acessados e utilizados de acordo com nossas políticas e padrões de segurança.&nbsp;</span></span>
                                </p>
                                <p class=""><span style="font-weight:500"><span
                                                style="font-weight:400">Tomamos medidas de <span
                                                    style="font-weight:400">boas práticas e certificações existentes no mercado </span>para garantir que os dados que coletamos sejam processados de acordo com segurança onde quer que os dados estejam localizados.<br></span></span>
                                </p>
                                <p class=""><span style="font-weight:500"><span style="font-weight:400">O acesso ao seu perfil é de responsabilidade exclusivamente sua, por meio de login e uma senha (ou por meio de outra mídia escolhida) que lhe permite acessar certas partes de nossos sistema, sendo de sua responsabilidade manter esta senha confidencial e por cumprir com quaisquer outros procedimentos de segurança. Nunca solicitaremos sua senha, e pedimos que você não a compartilhe com ninguém.</span><br></span>
                                </p>
                                <p class="page-fold"></p>
                                <p>A segurança e confiabilidade dos dispositivos os quais você utiliza para acessar
                                    os
                                    nossos
                                    serviços, tais como
                                    computadores, celulares, tablets ou outros dispositivos, é de total
                                    responsabilidade
                                    sua.
                                    Você deve por meios
                                    próprios buscar proteger os sistemas operacionais desses dispositivos contra
                                    qualquer
                                    ameaça
                                    externa.</p>

                                <h5 style="text-align:left; font-weight:500">DADOS DO ENCARREGADO PELOS DADOS</h5>
                                <p style="font-weight:500">A gestão do seus dados é feita por {{ configSiteNameFull }} .
                                    E você pode entrar em contato
                                    em contato com o Encarregado pelos seus dados através do
                                    email: {{ configSiteEmail }}. Você também tem o direito de contatar
                                    diretamente a Autoridade de Proteção de Dados brasileira.</p>

                                <h5 style="text-align:left; font-weight:500">DIREITOS DO TITULAR DOS DADOS</h5>
                                <p style="text-align:justify">O titular dos dados pessoais tem direito a obter do
                                    controlador, em relação aos dados do titular por ele tratados, a qualquer
                                    momento e mediante requisição:</p>
                                <p style="font-weight:400; text-align:justify">I - confirmação da existência de
                                    tratamento;<br><span
                                            style="font-weight:400">II - acesso aos dados;</span><br><span
                                            style="font-weight:400">III - correção de dados incompletos, inexatos ou desatualizados;</span><br><span
                                            style="font-weight:400">IV - anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com o disposto nesta Lei;</span><br><span
                                            style="font-weight:400">V - portabilidade dos dados a outro fornecedor de serviço ou produto, mediante requisição expressa, de acordo com a regulamentação da autoridade nacional, observados os segredos comercial e industrial;</span><br><span
                                            style="font-weight:400">VI - eliminação dos dados pessoais tratados com o consentimento do titular, exceto nas hipóteses previstas no art. 16 da LGPD;</span><br><span
                                            style="font-weight:400">VII - informação das entidades públicas e privadas com as quais o controlador realizou uso compartilhado de dados;</span><br><span
                                            style="font-weight:400">VIII - informação sobre a possibilidade de não fornecer consentimento e sobre as consequências da negativa;</span><br><span
                                            style="font-weight:400">IX - revogação do consentimento, nos termos do § 5º do art. 8º da LGPD.</span>
                                </p>


                                <h5 style="text-align:left; font-weight:500">COMO ACESSAR E CONTROLAR SUAS
                                    INFORMAÇÕES
                                    PESSOAIS</h5>
                                <p style="font-weight:500">Você pode cancelar ou descadastrar-se de forma total ou
                                    parcial
                                    da
                                    plataforma com o
                                    pedido expresso de exclusão total de seus dados, por meio da página de
                                    gerenciamento
                                    de
                                    sua
                                    conta acessível em: {{ configSiteUrl }}
                                </p>
                                <p style="font-weight:500">Você pode igualmente solicitar informações, alteração,
                                    esclarecimentos ou exclusão de
                                    seus dados por meio do contato {{ configSiteEmail }}.
                                    Vamos exercer imediatamente as solicitações, nos termos da lei de proteção de
                                    dados
                                    aplicável.</p>


                                <h5 style="text-align:left; font-weight:500">COMO ENTRAR EM CONTATO CONOSCO</h5>
                                <p style="text-align:left; font-weight:500">E-mail: {{ configSiteEmail }}</p>
                                <p style="text-align:left; font-weight:500">
                                    Telefone: {{ configSitePhone }}</p>
                                <p style="text-align:left; font-weight:500">
                                    Endereço:&nbsp;{{ configSiteAndress }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
