<!-- Menu Footer Mobile-->
<nav class="navigation-menu-bottom" id="navbar-bottom">
    <a href="#" onclick="clickProgress('menuHome','/')" id="menuHome" class="navigation-menu-item {{menu1?:'navigation-menu-item-active'}}">
        <i class="mdi mdi-view-grid{{menu1?'':'-outline'}} navigation-menu-item-icon"></i>
        <span class="navigation-menu-text">Inicio</span>
    </a>
    <a href="#" onclick="clickProgress('menuTempo','/usuario/tempo')" id="menuTempo" class="navigation-menu-item {{menu2}}">
        <i class="mdi mdi-cloud{{menu2?'':'-outline'}} navigation-menu-item-icon"></i>
        <span class="navigation-menu-text">Item 1</span>
    </a>
    <a href="#" onclick="clickProgress('menuCotacao','/usuario/cotacao')" id="menuCotacao" class="navigation-menu-item {{menu3}}">
        <i class="mdi mdi-file-search{{menu3?'':'-outline'}} navigation-menu-item-icon"></i>
        <span class="navigation-menu-text">Item 2</span>
    </a>
    <a href="#" data-toggle="modal" class="navigation-menu-item {{menu4}}" data-bs-toggle="modal" data-bs-target="#modalPerfil">
        <i class="mdi mdi-account{{menu4?'':'-outline'}} navigation-menu-item-icon"></i>
        <span class="navigation-menu-text">Perfil</span>
    </a>
</nav>

<!-- Modal Perfil-->
<div class="modal fade" id="modalPerfil" data-hash="#perfil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog odal-fullscreen modal-fullscreen-md-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title h1-title" id="exampleModalLabel">Perfil</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="">
                        <img class="img-circle" alt="Usuario" src="/assets/upload/img/pessoa/default.png" height="60px">
                    </div>
                    <div class="ps-2">
                        <h5 class="mb-0">Fulano</h5>
                        <h6 class="text-muted font-weight-lighter">email@email.com/h6>
                    </div>
                </div>
                <hr/>
                <div class="mt-4">
                    <div class="dropdown-divider"></div>
                    <div class="col-12 p-0">
                        <a href="/usuario/meusdados" class="dropdown-item ps-0 fw-light"><span class="mdi mdi-24px mdi-account-outline"></span><span style="font-size: 1rem">  Meus dados</span></a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="col-12 p-0">
                        <a href="/sistema/privacidade" class="dropdown-item ps-0 fw-light"><span class="mdi mdi-24px mdi-lock-outline"></span><span style="font-size: 1rem"> Termos de uso e privacidade</span></a>
                    </div>
                    <div class="dropdown-divider"></div>
                </div>

                <div class="d-grid gap-2">
                    <a href="/usuario/logoff" class="btn btn-outline-primary btn-lg mt-5 ">Sair</a>
                </div>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Voltar</button>
            </div>-->
        </div>
    </div>
</div>