{# size
    modal-sm
    modal-lg
    modal-xl
    modal-fullscreen	        Always
    modal-fullscreen-sm-down	576px
    modal-fullscreen-md-down	768px
    modal-fullscreen-lg-down	992px
    modal-fullscreen-xl-down	1200px
    modal-fullscreen-xxl-down
#}
{# class
    modal-dialog-scrollable
#}
{# databs
    data-bs-backdrop="static"
    data-bs-keyboard="false"
#}

<div class="modal fade" id="{{ id }}" data-hash="#{{ id }}" aria-labelledby="{{ id }}" aria-hidden="true"  data-bs-focus="false"  tabindex="-1" {{ databs|default("") }}>
    <div class="modal-dialog modal-fullscreen-md-down {{ size|default("modal-lg") }} {{ class|default("") }}" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="{{ id }}Title">{{ title|default("") }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ slot }}
            </div>
        </div>
    </div>
</div>