<main>
    <section class="section">
        <div class="container my-container">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="card sombra-1">
                        <div class="card-header">
                            <h4>
                                <a href="{{ SERVICO.URL }}/?pg={{ GET.pg }}&b={{ GET.b }}"
                                   class="btn btn-link p-0">
                                    <span class="mdi mdi-24px mdi-chevron-left"></span>
                                </a>
                                {{ CARD_TITLE }}</h4>
                        </div>
                        <div class="card-body pt-4">
                            <form id="formCadastro" class="needs-validation" novalidate
                                  action="{{ SERVICO.URL }}-action/"
                                  method="post" enctype='multipart/form-data'>

                                <div class="row">
                                    <div class="form-group col-12 col-md-12 ">
                                        <label>Arquivo Excel
                                            <div class="float-end">

                                            </div>
                                        </label>
                                        <div class="float-end">
                                            <a target="_blank" href="/assets/file/modelo_planilha_upload_atleta.xlsx" class="label-link">
                                                <span class="mdi mdi-18px mdi-file-excel-outline"></span> Baixar modelo</a>
                                        </div>
                                        <input name="ARQUIVO" id="" type="file" class="form-control" required accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                        <div class="invalid-feedback">
                                            Preencha o campo corretamente
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <input type="hidden" name="pg" value="{{ GET.pg }}">
                                    <input type="hidden" name="b" value="{{ GET.b }}">
                                    <input type="hidden" name="action" value="upload_atletas">

                                    <div class="">

                                        <button type="submit" id="btnSalvar"
                                                class="btn btn-lg btn-primary btn-round col-md-3 col-lg-2 col-12 float-right mt-2 float-end">
                                            <span class="mdi mdi-check-outline"></span> Enviar
                                        </button>
                                        <button type="button"
                                                onclick="window.location.href='{{ SERVICO.URL }}/?pg={{ GET.pg }}&b={{ GET.b }}'"
                                                class="btn btn-lg btn-outline-secondary btn-round col-md-3 col-12 col-lg-2 float-right mt-2 me-md-2 me-0 float-end">
                                            <span class="mdi mdi-close"></span> Voltar
                                        </button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
