
    <meta http-equiv="X-UA-Compatible" content="IE=5; IE=8; IE=9; IE=10;IE=edge">
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1'>
    <meta http-equiv="content-language" content="pt-BR"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="Robots" content="index, follow">
    <meta name='googlebot' content='index,follow'>
    <meta http-equiv='Cache-control' content='max-age=1800, public'>
    <meta name="author" content="{{author}}"/>
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">
    <link rel='canonical' href='{{url}}'/>
    <meta name="docsearch:language" content="pt-BR">
    <meta name="docsearch:version" content="1.0">

    <title>{{title}}</title>

    <meta property="og:type" content='website'>
    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:image" content="{{image}}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:description" content="{{description}}">
    <meta property="og:site_name" content='{{title}}'>
    <meta property='og:type' content='website'/>
    <meta property='og:locale' content='pt_BR'>
    <meta property='fb:app_id' content='{{fbAppId}}'/>

    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{{image}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="{{title}}">
    <meta name="twitter:site" content="@{{author}}">
    <meta name="twitter:creator" content="@{{author}}">

    <meta itemprop='url' content='{{url}}'/>
    <meta itemprop='name' content='{{title}}'/>
    <meta itemprop='image' content='{{image}}'/>
    <meta itemprop='description' content='{{description}}'/>

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel='apple-touch-startup-image' href='/assets/img/icon/apple-icon-180x180.png?v={{configVersionCode}}'>

    {# ICON #}
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/icon/apple-icon-57x57.png?v={{configVersionCode}}">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/icon/apple-icon-60x60.png?v={{configVersionCode}}">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/icon/apple-icon-72x72.png?v={{configVersionCode}}">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/icon/apple-icon-76x76.png?v={{configVersionCode}}">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/icon/apple-icon-114x114.png?v={{configVersionCode}}">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/icon/apple-icon-120x120.png?v={{configVersionCode}}">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/icon/apple-icon-144x144.png?v={{configVersionCode}}">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/icon/apple-icon-152x152.png?v={{configVersionCode}}">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icon/apple-icon-180x180.png?v={{configVersionCode}}">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/icon/android-icon-192x192.png?v={{configVersionCode}}">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icon/favicon-32x32.png?v={{configVersionCode}}">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/icon/favicon-96x96.png?v={{configVersionCode}}">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icon/favicon-16x16.png?v={{configVersionCode}}">

    <meta name='msapplication-TileColor' content='{{color}}'>
    <meta name='msapplication-TileImage' content='/assets/img/icon/ms-icon-144x144.png?v={{configVersionCode}}'/>
    <meta name='msapplication-starturl' content='/'>

    <script data-pace-options='{ "ajax": false }'
            src='/assets/plugin/pace/pace.min.js?v={{configVersionCode}}'></script>
    <link href='/assets/plugin/pace/pace-theme-default.min.css?v={{configVersionCode}}' rel='stylesheet'/>

    <link rel="mask-icon" href="/assets/img/icon/apple-icon-180x180.png?v={{configVersionCode}}" color="{{color}}">
    <meta name='theme-color' content='{{color}}'>
    <link rel="manifest" href="/manifest.webmanifest?v={{configVersionCode}}"/>

    {# BOOTSTRAP #}
    <link rel='stylesheet' href="/assets/plugin/bootstrap/dist/css/bootstrap.min.css?v={{configVersionCode}}"/>

    {# ICONES #}
    <link rel='stylesheet' href="/assets/plugin/@mdi/font/css/materialdesignicons.min.css?v={{configVersionCode}}"/>

    {# PLUGINS #}
    <link rel="stylesheet" href="/assets/plugin/izitoast/dist/css/iziToast.min.css?v={{configVersionCode}}">
    <link rel="stylesheet" href="/assets/plugin/select2/css/select2.min.css?v={{configVersionCode}}">
    <link rel="stylesheet" href="/assets/plugin/select2/css/select2-bootstrap5.css?v={{configVersionCode}}">
    <link rel="stylesheet" href="/assets/plugin/sweetalert2/sweetalert2.min.css?v={{configVersionCode}}"/>

    {# PESSOAL #}
    <link href='/assets/css/style.min.css?v={{configVersionCode}}' rel='stylesheet'>
