{% set id = id|default(random()) %}
{% if codModalidadePrecos|length>0 %}
    {% set ITEM = getDaos("ModalidadePrecosDao","buscarModalidePrecosId",[codModalidadePrecos]) %}
{% endif %}
<div id="divItem{{ id }}">

    <div class="row">

        <div class="form-group col-12 col-md-4">
            <label>Data início</label>
            <input type="datetime-local" class="form-control" name="DATAINICIO[]" value="{{ ITEM.DATAINICIO }}" placeholder="1"
                   required>
            <div class="invalid-feedback">
                Preencha o campo corretamente
            </div>
        </div>
        <div class="form-group col-12 col-md-4">
            <label>Data fim</label>
            <input type="datetime-local" class="form-control" name="DATAFIM[]" value="{{ ITEM.DATAFIM }}" placeholder="1"
                   required>
            <div class="invalid-feedback">
                Preencha o campo corretamente
            </div>
        </div>
        <div class="form-group col-12 col-md-4">
            <label>Valor</label>
            <input type="text" class="form-control" name="VALOR[]" value="{{ ITEM.VALOR?(ITEM.VALOR)|number_format(2, ',', '.'):'' }}" placeholder="90,00" onkeyup="mascara(this,mvalor2)"
                   required>
            <div class="invalid-feedback">
                Preencha o campo corretamente
            </div>
        </div>
        <input type="hidden" name="CODMODALIDADE_VALOR[]" value="{{ ITEM.CODMODALIDADE_PRECOS }}"/>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" onclick="document.getElementById('divItem{{ id }}').remove();" href="#"
                class="btn btn-link text-danger p-0 m-0"><span class="mdi mdi-trash-can-outline"></span> Remover
        </button>
    </div>
    <hr>
</div>